html {
    font-family: Sora, sans-serif;
    text-align: center;
    /* background-image: url(https://cdn.shopify.com/s/files/1/0089/6516/1020/products/OVERSIZED_WHITE_MARBLE_1024x1024@2x.jpg?v=1559845922); */
}

a:hover {
    color:#6366F1;
}

table.list {
    margin: 10px auto;
    width: 100%;
    background-color: white;

}

table.list,
table.list tr,
table.list td,
table.list th {
    border: 1px solid #D1D5DB;
    border-collapse: collapse;
}

table.list th {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 12px 0;
}

table.list td {
    padding: 12px 0;
}

table.list a {
    text-decoration: none;
    color: #111827;
    font-weight: bold;
}

table.list a:hover {
    color:#6366F1;
    text-decoration: underline;
}


footer {
    margin-top: 100px;
    text-align: center;
}

.content {
    width: 500px;
    margin: 0 auto;
}

input {
    width: 100%;
}

.search {
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.nav-main {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.nav-item {
 
    text-decoration: none;
    padding: 16px 16px;
}

.nav-item a {
    color: black;
    text-decoration: none;

}

.nav-item:hover {
    background-color:#D1D5DB;
}

.title {
    text-align: center;
}

.channel-item {
    width: 250px !important;
}

.channel-logo {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

.channel-name {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

main {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 80px;
}

.logo-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 30px;
}

.blog-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 24px;
}

.artist-photo {
    object-fit: cover;
    width: 200px;
    height: 250px;
    border-radius: 8%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.artist-photo:hover {
    opacity: 0.5;
}

.blog-cover {
    width: 100%;
}

.blog-item {
    width: 350px !important;
}

.blog-item img {
    width: 350px;
}

.blog-title {
    font-size: 18px;
}

.name {
    font-size: 70%;
}

.blog-home {
    text-align: center;
    margin-top: 70px;
}

.left {
    text-align: left;
}

.login {
    width: 50%;
    padding: 24px;
    border: 1px solid #E5E7EB;
    margin: center;
    margin-top: 70px;
    border-radius: 12px;
    background-color: white;
    padding: 20px;
}

.login p {
    text-align: left;
}

input[type=text], [type=password]  {
    width: 100%;
    padding: 12px 20px;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.search-box {
    display: flex;
    width: 300px;
    justify-content: center;
    margin: 0 auto;
}

.img-box {
    width: 250px; 
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin: 36px 0;
}

.unit-photo {
    width: 800px; 
    border-radius: 20px;
    object-fit: cover;
    margin: 36px 0;
}

table.group {
    width: 100%;
    padding: 30px;
    margin-top: 70px;
    margin-bottom: 36px;
    border-radius: 12px;
    background-color: white;
    padding: 20px;
    border: 1px solid #E5E7EB;
}

form.form {
    max-width: 650px;
    margin: 0 auto;
}



input[type=text] , [type="date"],[type="number"], select {
    width: 100%;
    padding: 12px 20px;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select,
option,
textarea {
    width: 100%;
}

.submit {
  background-color:black;
  color: whitesmoke;
  font-size: 16px;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.submit:hover {
    background-color:#1F2937;
    color: white;
}

.m-name {
    color: black;
}

.m-name:hover {
    opacity: 0.5;
}

button.action {
    font-family: Sora;
    padding: 12px 20px;
    border: 1.2px solid black;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 12px;
}

button.action img {
    margin-right: 8px;
}

.action-bar {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 48px 0;
    margin-bottom: 16px;
}

.ig-box-admin {
    display: flex;
    align-items: center;
    padding-left: 370px;
}

.status {
    display: flex;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 25px;
    align-items: center;
    margin: auto;
    width: 40%;
    padding: 10px;
}

.status-error {
    display: flex;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    margin: 30px;
}

.back {
    float:left;
    width:100px;
    font-family: Sora;
    color: black;
    font-size: 16px;
}

.container {
    width:50%;
}

.h {
    display: block;
    text-align: left;
    text-indent: 30px;
}

.home-banner {
    display: flex;
    text-align: left;
}

.home-banner img {
    height: 350px;
    object-fit: cover;
    border-radius: 25px;
}

.home-banner button {
    background-color: black;
    color: white;
    border: 0;
    padding: 12px 18px;
}