html {
    font-family: sans-serif;
    text-align: center; 
}

table.list {
    margin: 0 auto;
}

table.list,
table.list tr,
table.list td,
table.list th {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: black;
    color: cornsilk;
}

/* nav {
    text-align: center;
    font-weight: bold;
    margin: 16px 0;
} */

footer {
    margin-top: 100px;
    text-align: center;
}

.content {
    width: 500px;
    margin: 0 auto;
}

input {
    width: 100%;
}

.search {
    width: 100%;
} 

body {
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.nav-main {
    width: 100%;
    height: 40px;
    background-color: black;
    text-align: center;
    padding-top:16px;
}

.nav-item {
    color:white;
    text-decoration: none;
    margin: 0 10px;
}

.title {
    text-align: center;
}

.channel-logo {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

.channel-name {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

main {
    max-width:1100px;
    margin: 0 auto;
}

.logo-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.blog-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 24px;
}

.artist-photo {
    object-fit: cover;
    width: 200px;
    height: 250px;
}

.unit-photo {
    width: 700;
    height: 300px;
}

table.company-list,
table.company-list tr,
table.company-list td,
table.company-list th {
    border: 1px solid gray;
    border-collapse: collapse;
}

.blog-cover {
    width: 100%;
}

.blog-item {
    width: 200px !important;
    box-shadow: 10px 10px grey;
}

.name {
    font-size: 70%;
}

.blog-home {
    text-align: center;
    margin-top: 70px;
}

.left {
    text-align: left;
}