html {
    font-family: sans-serif;
    text-align: center; 
    background-image:url(https://cdn.shopify.com/s/files/1/0089/6516/1020/products/OVERSIZED_WHITE_MARBLE_1024x1024@2x.jpg?v=1559845922);
}

table.list {
    margin: 10px auto;
}

table.list,
table.list tr,
table.list td,
table.list th {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: rgb(0, 0, 0);
    color: cornsilk;
}


/* nav {
    text-align: center;
    font-weight: bold;
    margin: 16px 0;
} */

footer {
    margin-top: 100px;
    text-align: center;
}

.content {
    width: 500px;
    margin: 0 auto;
}

input {
    width: 100%;
}

.search {
    width: 100%;
} 

body {
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.nav-main {
    width: 100%;
    height: 40px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding-top:16px;
}

.nav-item {
    color:white;
    text-decoration: none;
    margin: 0 10px;
}

.title {
    text-align: center;
}

.channel-logo {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

.channel-name {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

main {
    max-width:1100px;
    margin: 0 auto;
}

.logo-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 30px;
}

.blog-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 24px;
}

.artist-photo {
    object-fit: cover;
    width: 200px;
    height: 250px;
}

.unit-photo {
    width: 700;
    height: 300px;
}

table.company-list,
table.company-list tr,
table.company-list td,
table.company-list th {
    border: 1px solid gray;
    border-collapse: collapse;
}

.blog-cover {
    width: 100%;
}

.blog-item {
    width: 200px !important;
    box-shadow: 10px 10px grey;
}

.name {
    font-size: 70%;
}

.blog-home {
    text-align: center;
    margin-top: 70px;
}

.left {
    text-align: left;
}

.login {
    width: 550px;
    height: 250px;
    padding: 25px;
    border: 5px solid rgb(0, 0, 0);
    margin: center;
    margin-top: 70px;
}
.search-box{
    display: flex;
    width: 300px;
    justify-content: center;
    margin: 0 auto;
}

.img-box{
    width: 500px;
}

table.group{
    width: 700px;
    height: 250px;
    padding: 25px;
    border: 2px solid  rgb(73, 69, 69);
    margin-top: 30px;
    margin-left: 200px;
}

.actions{
    margin-top: 20px;
    width: 700px;
    margin-left: 200px;
}

select , option, textarea {
    width: 100%;
}


