html {
    font-family: sans-serif;
    text-align: center;
}

table.list,
table.list tr,
table.list td,
table.list th {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: black;
    color: cornsilk;
}

nav {
    text-align: center;
    font-weight: bold;
    margin: 16px 0;
}

footer {
    margin-top: 100px;
    text-align: center;
}